
{% extends "base.html" %}
{% import "_window.html" as window %}

{% block content %}
    
    {% call window.window("Úvod do hry", "index-window") %}
        <h1>Vítej</h1>
        <p>V této hře se naučíš, jak podvodníci využívají sociální inženýrství, aby získali přístup k tvým heslům.</p>
        <p>Budeš komunikovat s virtuální osobou, která ti bude odpovídat a tvým úkolem je získat její heslo.</p>
        <button class="start-button" onclick="window.location.assign('/game/new')">Začít hru</button>
    {% endcall %}
{% endblock %}
