
{% extends "base.html" %}
{% import "_window.html" as window %}

{% block content %}
    {% call window.window("Leaderboard", "leaderboard-window") %}
        <h1>Leaderboard</h1>
        <ul>
            {% for session in sessions %}
                <li>{{ session.fname }} {{ session.lname }} ({{ session.class_name }}) - {{ session.attempts }} pokusů, {{ session.messages_count }} zpráv</li>
            {% endfor %}
        </ul>
        <button class="start-button" onclick="window.location.assign('/game/new')">Začít novou hru</button>
    {% endcall %}
{% endblock %}
